* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.container div p {
    font: 300 20px/140% 'Roboto Mono', sans-serif;
    text-align: justify;
    margin: 10px; /* Adiciona um espaço entre os parágrafos */

}

.container div figure {
    max-width: 1024px;
    max-height: auto;
    margin: auto;
}

.container figcaption{
    font: 200 10px 'Montserrat', sans-serif;
    text-align: center;
}

.container h2{
    font: 450 32px 'Montserrat', sans-serif;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Adiciona um fundo para os links de navegação */
    width: 100%; /* Faz a largura da lista ser igual à largura da janela do navegador */
    z-index: 1000; /* Garante que os links de navegação fiquem acima de outros elementos */
}

ul li {
    display: inline; /* Faz os itens da lista aparecerem horizontalmente */
}

ul li a {
    display: inline-block;
    padding: 10px 20px; /* Adiciona um espaçamento interno aos links */
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    background-color: #555; /* Adiciona uma cor de fundo quando o mouse passa sobre o link */
}

