* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #202020;
    text-align: center;
    margin-top: -30px;
    padding: 30px 0;
    background-image: radial-gradient(circle, #202020, #150f24);
}

body {
    background-color: #150f24;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 2000px;
    margin: auto;
    padding: 20px;
}

.container section p {
    font: 300 20px/140% 'Roboto Mono', sans-serif;
    text-align: justify;
    margin: 10px;
}

.container figure {
    max-width: 720px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.container figure figcaption {
    text-align: center;
    margin-top: 10px;
}

.container h2 {
    font: 450 32px 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

.project-section {
    scroll-margin-top: 80px;
    font: 200 20px 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #4b8cb7;
    color: #04135f;
}
